.about {
  background-color: $section-grey;

  .content-container {
    @include grid(60px);
    grid-template-columns: repeat(2, 1fr);
    margin: 45px 0;
    text-align: left;

    @include responsive-medium {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      max-width: 500px;
      margin: 40px auto;
    }
  }

  .line-break {
    width: 100%;
    margin: 23px 0;
  }

  .content__image {
    width: 100%;
    border-radius: 8px;
    background-position: 20%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content__info {
    @include flex(flex-start, flex-start);
    padding: 20px 0;
    flex-direction: column;

    &-title {
      font-size: 34px;
      line-height: 42px;
      font-weight: 600;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 20px;

      span {
        color: $primary-color;
      }
    }

    &-desc {
      font-size: 16px;
      line-height: 24px;
      color: $dark-grey;
      margin-top: 5px;
    }
  }

  .social-icons {
    margin-top: 10px;
    @include flex;
    gap: 13px;

    li a {
      color: $light-grey;
      font-size: 24px;
      display: inline-block;

      &:hover {
        color: $primary-color;
        transform: translateY(-5px);
      }
    }
  }

  .content-info__section {
    width: 100%;

    &-top {
      @include flex(flex-start, flex-start);
      gap: 10px;
      flex-direction: column;
    }

    &-title {
      font-size: 23px;
      text-transform: uppercase;
      font-weight: 600;
    }

    &-bottom {
      div {
        @include grid(0, space-between);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 15px;

        li {
          padding: 6px 0;

          span {
            color: $dark-grey;
          }
        }
      }
    }
  }

  .skills-container__title {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;

    @include responsive-medium {
      font-size: 30px;
    }
  }
}
