.portfolio {
  background-color: $section-grey;

  .content-container {
    margin: 50px 0;

    @include responsive-large {
    }

    @include responsive-medium {
      margin: 20px auto;
    }
  }

  .project-tag__list {
    @include flex(start);
    column-gap: 25px;
    row-gap: 10px;

    margin-bottom: 30px;
    flex-wrap: wrap;

    @include responsive-medium {
      margin-bottom: 20px;
      column-gap: 15px;
    }

    .project-tag__item {
      color: $dark-grey;
      cursor: pointer;
      text-transform: capitalize;

      &:hover {
        font-weight: 500;
      }

      &.tag-active {
        color: $primary-color;
        font-weight: 500;
      }
    }
  }
}
