.project {
  .project-container {
    @include assign-value(margin-top margin-bottom, 60px);

    @include grid(40px);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    @include responsive-small {
      grid-template-columns: 1fr;
    }
  }

  .project-item {
    margin: 0 auto;
    transition: $global-transition;
    max-width: 500px;
    width: 100%;

    &:hover {
      .project-item__title {
        a {
          color: $primary-color;
        }

        &::before,
        &::after {
          margin: 0 10px;
        }
      }

      .project-item__image {
        &::after {
          width: 100%;
        }

        img {
          transform: scale(1.2);
        }

        ul {
          opacity: 1;
        }
      }
    }

    &__image {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      width: 100%;
      height: 260px;
      transition: $global-transition;
      overflow: hidden;
      border-radius: 10px;
      position: relative;

      @include responsive-small {
        height: 200px;
      }

      ul {
        display: flex;
        z-index: 50;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: 150ms all linear 200ms;

        a {
          margin: 0 15px;
          font-size: 20px;
          color: $primary-color;
          transition: $global-transition;

          &:hover {
            color: $primary-color;
          }
        }
      }

      &::after {
        content: '';
        width: 0%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #ffffffcc;
        transition: $global-transition;
      }

      img {
        border-radius: inherit;
        transition: $global-transition;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      font-family: 'Comfortaa', cursive;
      text-transform: capitalize;
      padding: 10px 5px;
      font-size: 22px;
      cursor: context-menu;
      transition: $global-transition;

      a {
        color: $primary-dark;
      }

      &:hover {
        &::before,
        &::after {
          color: $primary-color;
        }
      }

      &::before,
      &::after {
        margin: 0 5px;
        transition: $global-transition;
      }

      &::before {
        content: '<';
      }
      &::after {
        content: '/>';
      }
    }
  }
}
