.button {
  cursor: pointer;
  display: inline-block;
  background-color: $pri_color;
  color: $white;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: inherit;
  font-family: 'Poppins', sans-serif;
  border: 2px solid transparent;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: $global-transition;

  &:hover,
  &-transparent {
    border-color: $pri_color;
    background-color: #ffffff80;
    color: $pri_color;
    transform: translateY(-5px);
  }

  @include responsive_medium {
    padding: 10px 20px;
  }

  @include responsive_small {
    padding: 5px 15px;
  }

  &-transparent {
    transform: translateY(0);
  }
}
