.btn {
  cursor: pointer;
  display: inline-block;
  background-color: $primary-color;
  padding: 12px 30px;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: $global-transition;

  a {
    color: $white;
    letter-spacing: 1px;
    font-size: inherit;
    font-family: 'Poppins', sans-serif;
  }

  &:hover,
  &-transparent {
    border-color: $primary-color;
    background-color: #ffffff80;
    transform: translateY(-5px);

    a {
      color: $primary-color;
    }
  }

  @include responsive-medium {
    padding: 10px 20px;
  }

  @include responsive-small {
    padding: 5px 15px;
  }

  &-transparent {
    transform: translateY(0);
  }
}
